.header {
  width: 100%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.left-div {
  display: flex;
  gap: 50px;
  height: 100%;
  align-items: center;
}

.img-div {
  height: 100%;
}

.img-div img {
  height: 100%;
}

.user-div {
  display: flex;
  gap: 40px;
  background-color: rgb(212, 17, 17);
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.aHref-div {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  align-items: center;
}

.aHref-div a {
  color: white;
  padding: 10px;
}

.aHref-div a:hover {
  background-color: white;
  color: red
}

.user-div button {
  width: 100px;
  padding: 5px 20px;
  background-color: rgb(193, 193, 193);
  border: none;
  border-radius: 4px;
  color: red;
  font-weight: bold;
}

.user-div button:hover {
  background-color: white;
}

.user-div button:active {
  background-color: rgb(193, 193, 193);
  color: red;
}

.active {
  background-color: rgb(212, 17, 17);
  color: white;
}


@media(max-width : 1250px) {
  .left-div {
    gap: 20px;
  }

  .aHref-div {
    justify-content: flex-start;
    gap: 10px;
    width: fit-content;
  }
}

@media(max-width : 1000px) {
  .aHref-div a {
    padding: 6px;
  }

  .user-div {
    gap: 10px;
    padding: 0 15px;
  }

  .header {
    padding: 0
  }
}


@media(max-width : 850px) {
  .aHref-div {
    display: none;
  }

  .user-div>button{
    display: none;
  }
}