.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 30px;
  padding-top: 120px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.805), rgba(0, 0, 0, 0.302)), url('../../../assets/big/forgot-password.jpg');
  background-size: cover;
  background-position: center top;
  /* background-repeat:round; */
}

h1 {
  color: white;
}

.form-div {
  background-color: #dedede;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 15px rgba(0, 0, 0, 0.501);
  width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"] {
  width: calc(100% - 10px);
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ff00c3;
  color: #fff;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: #8900b3;
}

.form-div a {
  color: black;
  cursor: pointer;
  padding: 5px 10px;
}

.form-div a:hover {
  padding: 5 10px;
  background-color: rgb(212, 17, 17);
  color: white;
  border-radius: 6px;
}


@media(max-width:750px) {
  .form-div {
    width: 90%;
  }
}

@media(max-width:450px) {

  .form-div {
    padding: 10px;
  }

  form {    
    padding: 15px;
    gap: 10px;
  }

  form>p{
    font-size: 12px;
  }

  .button-div{
    margin:20px 0;
    padding: 0;
  }
}
