@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(255, 234, 3, 0.8);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 187, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(252, 198, 2, 0.8);
  }
}

/* Apply the glowing effect to the element with the 'glow' class */
.glow {
  animation: glowing 3s infinite; /* Adjust the duration and other properties as needed */
}

body{
  background-color: #dfdfdf;
  min-height: 100vh;
  padding-bottom: 100px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.circuitName{
  width: 100%;
  background-color: #333;
  color:white;
  padding: 5px;
  text-align: center;
}

.top-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.h2-div {
  border-bottom: 4px #333 solid;
  padding: 10px 20px;
}


.info-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info-div div {
  display: flex;
  flex-direction: column;
  border-right: 4px #333 solid;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.middle-div {
}

.imgAndStandings-div {
  width: 100%;
  display: flex;
}

.img-div {
  width: 50%;
  padding: 30px;
}

.img-div img {
  width: 100%;
}

.standings {
  width: 50%;
  padding: 30px;
}

.pilots-div {  
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pilot {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 10px;  
  cursor:pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}

.pilot div:first-child {  
  width: 60%;
}

.pilot div:nth-child(2){  
  width: 40%;
}

.gold-background {
  background-color: gold;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
}

.silver-background {
  background-color: #C0C0C0;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;

}

.bronze-background {
  background-color: #CD7F32; 
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
}


@media(max-width:1050px){
  .img-div{
    width: 100%
  }

  .standings{
    padding: 0;
    width: 250px;
  }

  .pilots-div {  
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .pilot{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pilot>div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .pilot p,
  .pilot span{
    font-size: 10px;
  }

}

@media(max-width:700px){
  .info-div>div>p{
    font-size: 12px;
    text-align: center;
  }

  .info-div>div>h3{
    font-size: 12px;
  }


  .imgAndStandings-div{
    flex-direction: column;
  }

  .standings{
    width: 100%;
  }

  .circuitName>h1{
    font-size: 20px;
  }

  
}
