<body>

  <section class="sec-0" #section>
    
      <h1>🏁Welcome to F1🏁</h1>
      <h4>
        Formula 1, commonly known as F1, is the pinnacle of motorsport, a globally acclaimed racing spectacle that
        combines cutting-edge technology, top-tier engineering, and exceptional driver skill. Established in 1950, F1 has
        evolved into a high-stakes competition featuring a series of Grand Prix events held on iconic tracks around the
        world. 
      </h4>
    
  </section>

  <section class="sec-1 " #section>
    <h1 class="animate">Buckle up</h1>
    <p class="animate">Safety it's the most important thing</p>
    <img class="animate" src="../../../assets/big/SideF1CarRight.png" alt="">
  </section>

  <section class="sec-2" #section>
    <h1 class="animate">It's gonna be a bumpy ride</h1>
    <p class="animate">Some circuits are dangerous</p>
    <img class="animate" src="../../../assets/big/SideF1CarLeft.png" alt="">
  </section>

  <section class="sec-3" #section>
    <h1 class="animate">Always use your mirrors</h1>
    <p class="animate">Other pilots are reckless and risk it all</p>
    <img class="animate" src="../../../assets/big/FrontF1Car.png" alt="">
  </section>

  <!-- <section class="sec-4" #section>
    <h1>Do you think you can make it ? <span class="showRight-animate" style="--i:1;"></span> </h1>
    <p>Join our pilots and let's see! <span class="showRight-animate" style="--i:3;"></span></p>
  </section> -->

  <section class="sec-5" #section>
    <h1 class="animate">Let's Go!</h1>
    <div class="images">
      <img class="animate" src="../../../assets/Ferrari.jpg" style="--i:0;">
      <img class="animate" src="../../../assets/Alfa Romeo.jpg" style="--i:1;">
      <img class="animate" src="../../../assets/Aston Martin.jpg" style="--i:2;">
      <img class="animate" src="../../../assets/McLaren.jpg" style="--i:3;">
      <img class="animate" src="../../../assets/Alpine.jpg" style="--i:4;">
      <img class="animate" src="../../../assets/Renault.jpg" style="--i:5;">
      <img class="animate" src="../../../assets/Red Bull Racing.jpg" style="--i:6;">
      <img class="animate" src="../../../assets/Mercedes.jpg" style="--i:7;">
      <img class="animate" src="../../../assets/AlphaTauri.jpg" style="--i:8;">
      <img class="animate" src="../../../assets/Haas F1 Team.jpg" style="--i:9;">
    </div>
  </section>

</body>