.container{
  width: 100%;
  display: flex;
  min-height: 100vh;
}


.left-div{
  width: 400px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
}

.pilot-image-div{
  margin: 30px 0;
  width: 150px;
  margin: 0 auto;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}

.pilot-image-div img{
  width: 100%;
}

.info-div{  
  background-color: rgb(123, 123, 123);
  color: white;
  width: 80%;
  padding: 10px 20px 30px;
  border-radius: 4px;
  height: 300px;
}

.info-div h2{
  text-align: center;
  margin-bottom: 30px;
}

.info-div .button-div button{
  width: 100%;
  border: none;
  margin-top: 20px;
  padding: 5px 10px;
  font-weight: bold;
}

.info-div .button-div button:hover{
  background-color:red;
  color: white;
}

.attended-circuits-container{
  padding-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.attended-circuits-container h3{
  color:white;
  text-align: center;
}

.attended-circuits-div p {
  background-color: rgb(191, 79, 79);
  color:white;
  padding: 2px 4px;
  border-radius: 6px;
  margin-top: 5px;
}

.right-div{ 
  width: 100%;
  align-items: center;
  flex-direction: column;
}


.form-div {
  background-color: #dedede;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 50px auto;
}

.form-div>h4{
  color: #888
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="file"],
select {
  width: 100%;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="file"] {
  background-color: white;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.button-div button{
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(209, 65, 65);
  color: white;
  cursor: pointer;
  width: 100%;
  margin: 30px 0;
  padding: 10px 12px;
  font-weight: bold;
}


.button-div button:hover{
  background-color:red;
  color: white;
}


@media(max-width:900px){
  .form-div{
    width: 100%;
    height: 100%;
    margin:0
  }

  .right-div{
    padding: 0;
  }
}


@media(max-width:550px){
  .container{
   flex-direction: column;
  }

  .left-div,
  .right-div{
    width: 100%;
  }

  .left-div{
    flex-wrap: wrap;
    height: fit-content;
    padding-bottom: 20px;
  }

  .info-div{  
    background-color: rgb(123, 123, 123);
    color: white;
    width: 90%;
    padding: 10px 20px 30px;
    border-radius: 4px;
    height: 200px;
  }

  .info-div h2{
    margin-bottom: 10px;
  }

  .button-div {   
    padding-top: 10px;
  }

  .info-div .button-div button{    
    margin-top: 10px;    
  }
}
