.slideInLeft {
  animation: slideInLeft 18s linear infinite;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-40vw);
  }

  to {
    transform: translateX(40vw);
  }
}

.container {
  position: relative;
  padding-top: 40px;
  min-height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../../assets/c.webp');
  z-index: -1;
  opacity: 0.5;
}

.container2 {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 120px; 
}

.teams {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.52);
  background-color: white;
}

.teams h1 {
  background-color: #333;
  color: white;
  padding: 4px;
  padding-left: 30px;
}

.team h2 {
  background-color: #c1c1c1;
  color: black;
  padding-left: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.team {
  padding: 60px;
  overflow: hidden;
}

.teamPicture {
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vw;
}

.pilots-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.pilot-container {
  display: flex;
}

.pilot {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200px;
  background-color: rgb(225, 225, 225);
  padding: 15px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.52);
  cursor: pointer;
  /* width: 300px; */
  border-radius: 4px;
}

.pilot-image-div {
  height: 160px;
  overflow: hidden;
}

.pilot-image-div img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  transition: 0.9s;
}

.pilot-image-div img:hover {
  transform: scale(1.3);
}

.pilotInfo {
  width: 100%;
  text-align: center;
}

.pilotInfo p {
  margin: 5px 0;
}

@media(max-width:700px) {

  .team {
    padding: 20px 20px 60px 20px;   
  }

  .teams h1 {
    font-size: 18px;
    padding: 10px 20px;
  }

  .team h2 {
   font-size: 16px;
  }

  
}

@media(max-width:700px) {
  .container2 {    
    width: 90%;   
  }

  .pilot {   
    padding: 18px 10px 0 10px;   
    margin-bottom: 10px;
  }

  .pilotInfo>p{
    font-size: 10px;
    margin-top: 2px;
  }

}
