<!-- <button (click)="test()">TEST</button> -->
<div class="container">
  <div>
    <h1>Reset password </h1>
  </div>

  <!-- .FORM DIV -->
  <div class="form-div">
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter new password..." />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword"
          placeholder="Confirm new password..." />
      </div>

      <!-- .6 digits form -->
      <div id="wrapper">
        <div id="dialog">
          <form [formGroup]="tokenForm">
            <label for="">Enter 6 digits token received in email... <span><a
                  href="https://mailtrap.io/inboxes/2559458/messages" target="_blank">📩</a></span> </label>
            <div id="form">
              <input type="text" maxLength="1" size="1" formControlName="digit1" (input)="onDigitInput(0)"
                #tokenInput />
              <input type="text" maxLength="1" size="1" formControlName="digit2" (input)="onDigitInput(1)"
                #tokenInput />
              <input type="text" maxLength="1" size="1" formControlName="digit3" (input)="onDigitInput(2)"
                #tokenInput />
              <input type="text" maxLength="1" size="1" formControlName="digit4" (input)="onDigitInput(3)"
                #tokenInput />
              <input type="text" maxLength="1" size="1" formControlName="digit5" (input)="onDigitInput(4)"
                #tokenInput />
              <input type="text" maxLength="1" size="1" formControlName="digit6" (input)="onDigitInput(5)"
                #tokenInput />
            </div>
          </form>
        </div>
      </div>
      <!-- . -->

      <div class="button-div">
        <button>Reset</button>
      </div>
      <div>
        <a href="login/">Cancel</a>
      </div>
    </form>
  </div>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Redirecting...</p>
</ngx-spinner>